<div class="container mt-4">
  <h2 class="text-primary mb-4">Tuition Listings</h2>

  <input
    type="text"
    class="form-control mb-3"
    placeholder="Search by subject or location"
    [(ngModel)]="search"
  />

  <div *ngIf="isLoading" class="alert alert-info">
    Loading tuitions...
  </div>

  <div *ngIf="!isLoading && tuitions.length === 0" class="alert alert-warning">
    No tuitions posted yet.
  </div>

  <div *ngIf="!isLoading && tuitions.length">
    <div *ngFor="let t of tuitions | filterTuitions:search" class="card mb-3 border-primary shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-success">{{ t.subject }} - {{ t.location }}</h5>
        <p class="card-text">{{ t.description }}</p>
        <span class="badge bg-secondary">Schedule: {{ t.schedule }}</span>
              <button class="btn btn-sm btn-outline-success mt-2"
        (click)="subscribe(t._id)" *ngIf="userRole === 'tutor'">
  Subscribe
</button>
      </div>


    </div>
  </div>
</div>
